*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 52.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes wobble {
  0% {
    transform: rotate(-10deg); }
  33% {
    transform: rotate(15deg); }
  67% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes fadeInButton {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: "Lato", sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
  font-weight: 400;
  color: #2b2b2b;
  padding: 1.3rem; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to bottom, #9be3eb, #1f7bac);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: scale(1.4);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #555454; }

.paragraph {
  font-size: 1.6rem;
  color: #555454; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-md {
  margin-bottom: 4rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 12rem 10rem 20rem 10rem;
  background-image: linear-gradient(to right bottom, rgba(91, 198, 210, 0.6), rgba(31, 123, 172, 0.6)), url("../assets/penguinScene2.png");
  background-size: cover;
  transform: skewY(-3deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(3deg); }

.section-apps {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -20vh; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffffff;
  color: #2b2b2b; }
  .btn--white::after {
    background-color: #ffffff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: fadeInButton 1.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #5bc6d2;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5bc6d2;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #5bc6d2;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    z-index: 0;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
      z-index: 11; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
      z-index: 10; }
    .composition__photo--p3 {
      left: 0.5rem;
      top: 24rem;
      z-index: 12; }
    .composition__photo:hover {
      outline: 1.5rem solid #5bc6d2;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-heading {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, #000000, #1f7bac);
  -webkit-background-clip: text;
  color: transparent; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to top, #9be3eb, #1f7bac);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.03); }
  .feature-box__list-item {
    list-style: none; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 1s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #640164, #ff00ff); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #1f7bac, #9be3eb); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #28b485, #7ed56f); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #640164, #ff00ff), url(../../assets/momentThumb.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #1f7bac, #9be3eb), url(../../assets/myAgentCardThumb.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #28b485, #7ed56f), url(../../assets/weedBG.jpg); }
  .card__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(100, 1, 100, 0.85), rgba(255, 0, 255, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(31, 123, 172, 0.85), rgba(155, 227, 235, 0.95)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.85), rgba(126, 213, 111, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(91, 198, 210, 0.6), rgba(31, 123, 172, 0.6)), url("../assets/mountain.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo:hover {
    animation: wobble 3s ease-out; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px; */ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
