.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 4rem 4rem 4rem 6rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    transform: skewX(0);
    width: 100%;
    min-height: 463px;
    padding: 4rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(10deg);
    position: relative;

    @include respond(tab-port) {
      transform: translateX(0) skewX(0);
      float: none;
    }
  }
  &__img {
    height: 100%;
    @include respond(tab-port) {
      display: block;
    }
  }

  &__text--box {
  }

  &__text {
    transform: skewX(4deg);
    @include respond(tab-port) {
      transform: skewX(0);
      margin: 1rem;
    }
  }

  &__heading {
    @include respond(tab-port) {
      display: block;
      margin: 1.5rem 5rem 2rem 5rem;
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__section--heading {
    @include respond(tab-port) {
      margin: 2rem 3rem;
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, 20%);
  }

  &:hover &__img {
    transform: scale(1.05);
    filter: blur(1px) brightness(70%);
  }
}
